<h1>Favorite Beer</h1>

<form action="/" method='post'>
  <input type="text" name="name" placeholder="name">
  <input type="text" name="kind" placeholder="kind">
  <input type="text" name="description" placeholder="description">
  <input type="submit" value="Add">
</form>

<% @beer.each do |beer| %>
  <h3>Name: <%= beer.name %> | Kind: <%= beer.kind %> | Description: <%= beer.description %>
    | <a href="/beers/<%= beer.id %>/edit">Update</a></h3>
    <form action="/beers/<%= beer.id %>" method='post'>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">


<% end %>
